.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #75daa7;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.input-card {
  margin: auto;
  padding: 30px 24px;
  max-width: 600px;
  width: 40%;
  min-width: 400px;
}

.nav-button {
  margin: 12px 32px;
}


.nav-container {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}